## Glass Identification

_Refractive index is a fundamental property of a material that describes how light propagates through it. It measures the speed of light in a vacuum relative to its speed in the material. The refractive index determines the bending or refraction of light as it passes from one medium to another._

<a href="https://archive.ics.uci.edu/ml/datasets/Glass+Identification"> Dataset Reference Link </a>

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('glass_data.csv', header=None, 
                 names=['id', 'ri', 'Na', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe', 'type'])
df

          id     ri    Na    Al     Si     K    Ca    Ba   Fe  type
1    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
2    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
3    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
4    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
5    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7
211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7
212  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7
213  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7
214  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7

[214 rows x 10 columns]

In [5]:
df['type'].value_counts()

type
2    76
1    70
7    29
3    17
5    13
6     9
Name: count, dtype: int64

**Type of glass:**
- 1 building_windows_float_processed
- 2 building_windows_non_float_processed
- 3 vehicle_windows_float_processed
- 4 vehicle_windows_non_float_processed (none in this database)
- 5 containers
- 6 tableware
- 7 headlamps